html {
	background-color: #e5e5e5;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
	background-color: #FFFFFF;
}

.no-touch my:hover{
   color: red;
}


header h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	margin: 20px 0 10px 0;
}

header p {
	text-align: center;
	font-size: 16px;
	color: #666666;
	margin: 0;
	font-weight: 200;
	margin: 0 0 15px 0;
}

footer p
{
	text-align: center;
	font-size: 14px;
	color: #666666;
	margin-top: 20px;
	font-weight: 200;
}

#filter
{
	text-align: center;
}

#portfolio
{

}

.detailview
{
	display: none;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	min-height: 400px;
	padding: 10px 10px 10px 10px;
}

#detailpane > .float-left
{
	float: left;
}

#detailpane > .float-left > img
{
	width: 300px;
	height: 300px;
	border-radius: 8px 8px 8px 8px;
	border: outset 3px gold;
	margin: 5px 15px 5px 5px;
}

#detailpane > h2
{
	margin-top: 5px;
}

#detailpane > .float-right
{
	float: right;
}


.calltoaction
{
	text-align: center;
	margin-bottom: 20px;
}

.btn-wide
{
	min-width: 200px;	
}


.imagegridelement
{
	margin: 5px;
	cursor: pointer;
	position: relative;
}


.imagegridelement.featured > span
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 12%;

	background-color: rgba(100, 100, 100, 0.4);
}

.imagegridelement.standard > span
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20%;

	background-color: rgba(100, 100, 100, 0.4);
}

.imagegridelement span > h2
{
	margin-left: 10px;
	color: white;
    text-shadow:
    -2px -2px 1px #000,
    2px -2px 1px #000,
    -2px 2px 1px #000,
    2px 2px 1px #000; 


	font-family: 'Open Sans', sans-serif; 
}

.imagegridelement.standard span > h2
{
	font-size: 16px;
	font-weight: bolder;
	position: absolute;
	bottom: 0px;
}

.imagegridelement.featured span > h2
{
	position: absolute;
	bottom: 0px;
}



.imagegridelement > img#featured
{
	width: 410px;
	height: 410px;
}

.imagegridelement > img#standard
{
	width: 200px;
	height: 200px;
}

/* iPhone or devices that can't fit the 410px image */
@media screen and (max-device-width: 320px), screen and (max-width: 420px){

	.imagegridelement > img#featured
	{
		width: 310px;
		height: 310px;
	}

	.imagegridelement > img#standard
	{
		width: 153px;
		height: 153px;
	}

	.imagegridelement
	{
		margin: 2px;
		cursor: pointer;
	}
}

/* Bootstrap overrides */
.btn-group.btn-group-xs > .btn{
	margin-right: 5px;
	border-top-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	background-color: #EEEEEE;
}

.btn-group{
	margin-bottom: 10px;
}

.btn-group.btn-group-xs > .btn:hover{
	background-color: #FFFFFF;
}

.btn-primary.btn-wide{
	margin-left: 5px;
	margin-right: 5px;
	background-color: #00BB99;
	box-shadow: 0 0 7px #000000;
}

.btn-primary.btn-wide:hover{
	box-shadow: inset 0 0 7px #FFFFFF;
}

.drip
{
    float: right;
}

.holdon
{
	text-align: center;
	margin-top: 120px;
}

#additionalscreens
{
	text-align: center;
	display: none;
}

.moreimage
{
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.backbutton
{
	width: 90%;
	padding-bottom: 12px;
	margin: 0 auto;
	display: table;
}