html {
	background-color: #e5e5e5;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
	background-color: #FFFFFF;
}


header h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	margin: 20px 0 10px 0;
}

header p {
	text-align: center;
	font-size: 16px;
	color: #666666;
	margin: 0;
	font-weight: 200;
	margin: 0 0 15px 0;
}

footer p
{
	text-align: center;
	font-size: 14px;
	color: #666666;
	margin-top: 20px;
	font-weight: 200;
}

#filter
{
	text-align: center;
}

#portfolio
{

}

.detailview
{
	display: none;
	margin-top: 50px;
	margin-bottom: 50px;
}


.calltoaction
{
	text-align: center;
	margin-bottom: 20px;
}

.btn-wide
{
	min-width: 200px;	
}


.imagegridelement
{
	margin: 5px;
	cursor: pointer;
}


.imagegridelement > img#featured
{
	width: 410px;
	height: 410px;
}

.imagegridelement > img#standard
{
	width: 200px;
	height: 200px;
}

/* iPhone or devices that can't fit the 410px image */
@media screen and (max-device-width: 320px), screen and (max-width: 420px){

	.imagegridelement > img#featured
	{
		width: 310px;
		height: 310px;
	}

	.imagegridelement > img#standard
	{
		width: 153px;
		height: 153px;
	}

	.imagegridelement
	{
		margin: 2px;
		cursor: pointer;

	}
}